.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .login-container form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  }
  
  .login-container form .MuiGrid-item {
    margin-bottom: 10px;
  }
  
  .login-container form .MuiButton-root {
    float: right;
  }
  
