fastapi==0.95.0
langchain==0.0.220
pinecone_client==2.2.2
pydantic==1.10.9
python-dotenv==1.0.0
uvicorn==0.21.1
python-multipart==0.0.6
openai==0.27.8
azure-ai-vision==0.13.0b1
azure-cognitiveservices-speech==1.30.0
pypdf==3.12.0
tiktoken==0.4.0
psycopg2==2.9.6
pydub==0.25.1
faiss-cpu==1.7.4
sentence-transformers
pdfminer

