.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.uploader-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  padding: 10px;
  background-color: #e8eaee;
  border-radius: 5px;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.uploader-root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-file-details {
  width: 100%;
  margin: 10px;
}

.main-holder {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.chat-logs {
  position: relative;
  /* padding: 20px; */
}

.chatbox {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.chat-logs {
  flex: 1;
  overflow-y: auto;
}
